# Configuration locale (contient les identifiants)
config.php

# Dépendances SFTP éventuelles
/vendor/

# Fichiers temporaires
/tmp/

/*.log

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
